asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==3.2
cvxopt==1.2.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mkl-fft==1.0.6
mkl-random==1.0.1
nltk==3.3
numpy==1.15.4
pandas==0.23.4
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2
