<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vloodle</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body>
        <div class = "wrapper">
             <div class = "header"><h1>Vloodle</h1></div>
             <div>
                <div>
                    <input type = "text" placeholder = "What to search" class = "textBox textBox__query">
                    <button class = "button">Send</button>
                </div>
                <div>
                    <p>Enter your skill for more precise score</p>
                    <textarea class = "textBox textBox__skills" placeholder = "Text me smth"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>
