/* Common design */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgrey;
    text-align: center;
    font-size: 20px;
  }

 .wrapper {
    display: flex;
    flex-wrap: wrap;
 }

 .wrapper > * {
    flex: 1 100%;
}

h1 {
    font-size: 80px;
    margin-top: 2.45em;
    margin-bottom: 0px;
}

/* Header */
.header {
    height: 300px;
}

/* First request */
.textBox {
    font-size: 18px;
    text-align: left;
    color: black;
    opacity: 0.5;
    height: 25px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1.5px solid grey;
    border-left: 1.5px solid grey;
    border-radius: 8px;
    width: 450px;
    padding-left: 15px;
}

.textBox__query {
}

.button {
    width: 80px;
    height: 30px;
    border-radius: 8px;
}
/* Second request */

.textBox__skills {
    height: 100px;
    width: 600px;
    resize: none;
    font-family: Arial;
}